<html>
   <head>
      <script type="text/javascript" src="http://code.stephenmorley.org/javascript/collapsible-lists/CollapsibleLists.js"></script>
      <script type="text/javascript" src="http://code.stephenmorley.org/javascript/running-tasks-on-load/runOnLoad.js"></script>
      <script type="text/javascript">

        runOnLoad(function(){ CollapsibleLists.apply(); });

        </script>
      <title>{{ title }}</title>
      <style type="text/css" media="all">
        .collapsibleList li{
            list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button.png');
            cursor:auto;
        }
        
        li.collapsibleListOpen{
            list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-open.png');
            cursor:pointer;
        }
        
        li.collapsibleListClosed{
            list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-closed.png');
            cursor:pointer;
        }
      </style>
   </head>
   <body>
   <p><h3>Remove user by email</h3></p>
   <form  method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
   Email:<input type="text" name="email"><br>
   <input type="submit" value="Remove">
    </form>
   <p><h3>Update user name using email</h3></p>
   <form  method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
   New name:<input type="text" name="name_update"><br>
   Email:<input type="text" name="email_up1"><br>
   <input type="submit" value="Update">
    </form>
   <p><h3>Update position using email</h3></p>
   <form  method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
   New position:<input type="text" name="position_update"><br>
   Email:<input type="text" name="email_up2"><br>
   <input type="submit" value="Update">
    </form>
   <p><h3>Update manager using email</h3></p>
   <form  method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
   New manager email:<input type="text" name="manager_update"><br>
   Email:<input type="text" name="email_up3"><br>
   <input type="submit" value="Update">
    </form>
    <p><h3>Add user name using email</h3></p>
   <form  method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
   Name:<input type="text" name="name"><br>
   Email:<input type="text" name="email_add"><br>
   Position:<input type="text" name="position_name"><br>
   Email_Manager:<input type="text" name="manager_mail"><br>
   <input type="submit" value="Add">
    </form>
   

   <ul class="collapsibleList">
        {% set last_step = 0 %}
       {% for item in items %}
       {% if item[1] < last_step %}
           </li> </ul> <li>{{ escape(item[0]) }} 
        {% elif item[1] > last_step %}
            <ul> <li>{{ escape(item[0]) }} 
        {% else %}
            </li> <li>{{ escape(item[0]) }} 
        {% end %} 
        {% set last_step = item[1] %}
    {% end %}
    </li>
     </ul>
     
   </body>
 </html>